 body{background-color: #F0F0F0;}
 .header{
            width:100%;
            margin-left:200px;
        }
        .cads{
            font-style: normal;
            font-size: 2.9em;
            color: #99CCFF;
            text-decoration: underline;
            text-shadow: 2px 2px 2px gray;
        }
        .remainder{
            font-style: normal;
            font-size: 1.2em;
            color: purple;
            position: relative;
            top: -15px;
            left: -20px;
            text-shadow: 2px 2px 2px gray;
        }.reg{
            margin-top:100px; 
            margin-left:200px;
        }form{
            border-color:black;
        }.article{
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}.details{
  text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 35px;
}
}