.container{
	margin-top:150px;
	
	height:400px;
}img{
	position:fixed;
	height:120px;
	border-radius:50%;
	margin-left:320px;
	margin-top:-80px;
}.col-sm-12{
	margin-top:60px;
	margin-left:240px;
}