 body{background-color: #F0F0F0;}
 .header{
            width:100%;
            margin-left:200px;
        }
        .cads{
            font-style: normal;
            font-size: 2.9em;
            color: #99CCFF;
            text-decoration: underline;
            text-shadow: 2px 2px 2px gray;
        }
        .remainder{
            font-style: normal;
            font-size: 1.2em;
            color: purple;
            position: relative;
            top: -15px;
            left: -20px;
            text-shadow: 2px 2px 2px gray;
        }.reg{
            margin-top:100px; 
            margin-left:200px;
        }form{
            border-color:black;
        }